In [1]:
#all imports
import requests
import pandas as pd
from pathlib import Path
import numpy as np
import os
from ProjectFunctions import *
import datetime
import wbdata
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
idx = pd.IndexSlice  #magically make MultiIndex slicing better
#e.g. to set value of Aruba->Afghanistan in 1995 to 42, use:
#imported_data.loc[idx[1995,'Aruba'],'Afghanistan'] = 42

In [3]:
#load original data
trade_data=pd.read_csv("raw_data/DataJobID-1257172_1257172_TestQuery.csv" , encoding = "ISO-8859-1")

In [4]:
# create dictionaries for country name to country code for trade data and vice versa
dic_cols=['ReporterISO3', 'ReporterName']
dic_df=trade_data[dic_cols].drop_duplicates()
country_dic=dic_df.set_index('ReporterName')['ReporterISO3'].to_dict()
inv_country_dic = {v: k for k, v in country_dic.items()}

In [5]:
#create data structures for building multi index dataframe
years = list(range(1995,2016))
countries=list(trade_data['ReporterName'].unique())

In [6]:
def build_multi_index_df(years, countries):
    """
    Function which builds multi index dataframe suitable for this analysis.
    MultiIndex array is three-dimensional: year*country*country
    """ 

    #build MultiIndex array
    rows_array = []
    for year in years:
        for country in countries:
            rows_array.append([year,country])
        
    multi_index = pd.MultiIndex.from_tuples(rows_array, names=['year', 'exporter'])
    data = pd.DataFrame(columns=countries, index=multi_index)
    return data

In [7]:
#create dataframe structure
data = build_multi_index_df(years,countries)

In [8]:
# %%timeit -n1 -r1

# #fill dataframe with values from data
# #Caution, takes roughly 6-8 minutes!
# for index, row in trade_data.iterrows():
#     for year in years:
#         year_key=str(year)+" in 1000 USD "
#         data.loc[year][row['ReporterName']][row['PartnerName']]=row[year_key]

In [9]:
#fill NaNs
# data_filled=data.fillna(0)

In [10]:
#write to TSV
# data_filled.to_csv('trade_data.tsv', sep='\t')

In [11]:
#read from TSV
imported_data = pd.read_table('trade_data.tsv', index_col=[0,1])

In [12]:
#compare whether identical
# all(imported_data == data_filled)

In [13]:
#make copy to work in
percentages = imported_data.copy()

In [14]:
#calculate percentages of exporter's total export to each destination
for year in years:
    this = percentages.loc[year].div(percentages.loc[year].sum(axis=1), axis=0)
    this_filled = this.fillna(0)
    percentages.loc[year].update(this_filled)

In [15]:
#data points per exporter per year, as handy dataframe

data_points = (percentages.loc[1995] != 0).sum(axis=1).to_frame()
data_points.columns = ['1995']

#skip first, as it is used above to create dataframe
#must overwrite column names each loop cycle, as df.assign() interprets column name as literal
i=1
for year in years[1:]:
    i=i+1
    this = (percentages.loc[year] != 0).sum(axis=1)
    data_points = data_points.assign(temp = this)
    data_points.columns = [years[:i]]

In [16]:
data_points

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
exporter,,,,,,,,,,,,,,,,,,,,,
Aruba,38,48,52,49,59,63,68,66,70,72,...,76,76,72,80,78,78,80,77,82,76
Afghanistan,57,63,64,71,68,74,72,85,89,93,...,94,96,97,105,105,97,98,96,91,94
Angola,65,76,75,81,88,100,104,106,108,114,...,111,117,114,118,120,125,119,117,116,111
Anguila,33,35,47,45,47,55,48,50,57,56,...,60,56,61,61,65,60,59,56,53,54
Albania,60,65,67,71,74,77,81,87,86,86,...,96,98,102,103,97,106,98,98,96,97
Andorra,41,43,45,49,47,54,62,66,70,70,...,81,85,76,84,81,82,78,74,81,72
Netherlands Antilles,70,73,77,73,84,92,96,93,94,94,...,105,99,104,105,97,0,0,0,0,0
United Arab Emirates,94,102,110,111,119,134,135,135,143,144,...,147,152,151,148,157,155,151,150,144,140
Argentina,84,95,99,103,105,116,117,113,116,119,...,122,117,123,127,124,125,123,115,116,108
Armenia,49,53,61,63,66,70,74,74,79,83,...,85,86,93,89,96,97,95,94,93,90
Antigua and Barbuda,65,72,68,71,72,79,88,88,90,94,...,92,90,95,93,97,93,98,91,91,89
Australia,99,107,115,125,125,142,143,143,146,150,...,151,150,152,150,154,155,149,145,146,143
Austria,97,112,113,115,119,130,126,130,130,132,...,131,132,134,133,135,133,132,132,131,129
Azerbaijan,49,57,64,71,72,77,79,76,78,90,...,89,94,92,94,96,94,95,99,97,93
Burundi,55,58,56,66,60,70,65,66,64,78,...,76,85,82,77,79,82,84,85,88,74
Belgium,0,0,0,0,136,154,151,153,151,153,...,153,152,153,158,152,151,153,150,145,141
Benin,59,70,74,71,81,87,89,86,92,98,...,98,104,104,108,111,109,104,106,101,103
Burkina Faso,58,61,68,66,74,75,77,77,78,85,...,87,94,83,88,93,95,98,91,96,93
Bangladesh,75,80,83,94,100,104,101,103,109,113,...,122,118,122,113,128,118,119,124,120,121
Bulgaria,78,89,97,100,106,113,113,114,108,119,...,123,124,121,124,127,128,122,122,121,121
Bahrain,70,70,76,78,80,94,95,98,104,104,...,106,107,111,106,114,110,110,106,109,108
"Bahamas, The",74,87,85,84,84,93,97,98,94,103,...,105,102,102,100,94,94,92,97,99,89
Bosnia and Herzegovina,42,54,62,66,69,69,74,78,81,83,...,89,92,92,83,95,94,90,93,91,93
Belarus,53,64,65,65,69,79,74,77,80,83,...,86,82,86,85,95,96,92,98,97,96
Belgium-Luxembourg,112,124,132,134,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Belize,61,63,71,66,75,82,85,81,89,88,...,91,86,90,90,89,95,93,92,92,92
Bermuda,61,63,65,72,72,81,74,75,79,82,...,80,79,81,78,81,72,72,76,74,78
Bolivia,58,67,67,70,80,75,82,82,86,86,...,91,91,92,88,95,91,92,89,88,86
Brazil,96,104,109,112,111,125,130,124,129,127,...,130,142,139,137,141,143,137,137,137,126
Barbados,70,70,71,69,82,89,87,91,90,94,...,94,98,92,97,88,86,83,87,85,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Slovenia,68,70,80,78,84,91,91,94,99,103,...,110,115,113,108,121,122,115,115,113,111
Sweden,101,111,118,120,122,140,142,138,139,137,...,145,142,142,147,149,147,141,138,140,132
Swaziland,0,0,0,0,0,72,69,78,78,83,...,84,88,91,94,97,95,86,83,91,84
Seychelles,47,48,59,61,62,70,74,77,77,82,...,85,84,89,90,92,96,96,95,94,93
Syrian Arab Republic,77,83,91,94,95,99,104,106,111,111,...,114,117,117,114,118,114,105,97,99,95
Turks and Caicos Isl.,37,37,46,38,51,51,51,52,48,56,...,60,61,66,60,58,57,58,60,62,63
Togo,55,69,66,74,75,88,88,88,88,95,...,98,102,106,95,105,108,104,104,100,104
Thailand,91,102,110,109,114,131,135,141,136,141,...,141,142,143,140,146,146,149,147,146,139
Tajikistan,45,48,51,55,56,61,59,63,66,67,...,73,72,73,71,79,80,81,79,74,73
Turkmenistan,49,55,54,59,64,69,67,74,71,67,...,73,75,82,76,79,81,83,81,77,78
East Timor,10,11,6,6,2,20,29,37,40,44,...,41,41,48,49,49,50,50,47,46,42
Tonga,29,28,35,36,38,42,49,54,57,54,...,56,54,52,54,55,55,52,48,47,57
Trinidad and Tobago,73,76,80,79,92,96,96,92,104,101,...,106,105,106,109,107,110,97,107,100,99
Tunisia,80,82,86,93,100,107,110,106,109,112,...,112,119,124,128,125,125,122,122,117,112
Turkey,87,97,103,106,108,130,130,130,135,135,...,137,142,138,141,147,145,140,144,140,135
Tuvalu,21,29,26,29,27,24,26,32,33,25,...,34,34,36,34,25,28,33,32,31,36
Tanzania,73,74,84,83,85,99,95,102,106,104,...,110,114,112,121,124,116,119,117,111,112
Uganda,65,67,75,72,78,90,90,97,103,100,...,98,104,106,112,117,120,109,111,112,110
Ukraine,76,82,90,95,92,101,110,110,114,121,...,122,124,133,128,135,131,130,127,124,123
Uruguay,72,81,82,84,90,96,97,90,88,98,...,96,102,104,109,104,109,104,110,110,100
United States,121,131,137,138,146,168,168,170,167,170,...,167,167,165,169,169,167,166,158,155,150
St. Vincent and the Grenadines,52,66,64,57,66,70,76,72,78,80,...,79,79,82,78,77,76,79,76,78,72
Venezuela,83,86,93,95,103,107,110,107,104,107,...,110,109,114,107,111,111,110,108,104,100
Vietnam,70,75,81,87,91,108,107,116,121,121,...,133,132,140,144,151,150,147,145,145,137
Vanuatu,38,47,45,44,39,51,61,55,51,55,...,57,52,59,58,61,64,63,69,66,68
Samoa,33,33,40,36,40,47,49,52,51,53,...,53,58,48,47,57,55,55,50,49,50
Yemen,68,76,84,79,82,91,93,100,96,99,...,103,101,99,100,101,99,102,103,97,88
South Africa,102,104,114,115,119,138,140,137,142,142,...,138,147,142,145,152,147,143,144,142,132
Zambia,63,62,75,81,84,92,83,88,82,92,...,96,91,93,95,94,101,104,101,101,97
Zimbabwe,63,75,78,82,84,94,88,91,88,93,...,92,96,92,91,102,98,97,100,100,100

In [17]:
# get selected indicators from excel-file

indicator_dataframe, indicators, tabnames=GetIndicatorsWB(file='Selected_Indicators.xlsx', sheet='Indicators')

In [18]:
# get list of countries contained in World Bank data, including their region and income level,
# from excel-file

countries1=GetRegionIncomeDataWB()

In [19]:
# retrieve world bank data for the selected indicators 

wbdata = GetDataWB(indicators,2010, 2015)

In [20]:
# merge world bank data with country list. This discards all countries/regions that are not
# in countries1

wb_data_countries = countries1.join(wbdata, how='inner')

In [21]:
# Fill missing data by first taking the mean of countries in the same region with the same
# income level and then fill with the mean of countries in the same region. 

region_income_data=FillByRegionAndIncomeWB(wb_data_countries)
region_income_data=FillByRegionWB(region_income_data)

In [22]:
# Check to see if we have a complete dataset. 

DataCompleteness(region_income_data)

Country Data                                                    100.0
Region                                                          100.0
IncomeGroup                                                     100.0
Exports of goods and services (% of GDP)                        100.0
GDP (current US$)                                               100.0
Total greenhouse gas emissions (kt of CO2 equivalent)           100.0
Exports of goods and services (% of GDP) source                 100.0
GDP (current US$) source                                        100.0
Total greenhouse gas emissions (kt of CO2 equivalent) source    100.0
dtype: float64

In [23]:
# Create dictionaries for country name to country code and vice versa for the WB dataset.
# Later, we can use this to match countries names spelled differently in other datasets. 

dic_cols_wb=countries1['Country Data']
country_dic_wb=dic_cols_wb.to_dict()
inv_country_dic_wb = {v: k for k, v in country_dic_wb.items()}

In [24]:
# compare dictionaries for trade data and wb data  
# TODO: replace this by the function in ProjectFunctions.py:
# CheckDictionaries(inv_country_dic_wb, inv_country_dic)

for item in inv_country_dic_wb:
    if item in inv_country_dic:
        continue
    else:
        print(item, inv_country_dic_wb[item])
        
print('---------------------------')
for item in inv_country_dic:
    if item in inv_country_dic_wb:
        continue
    else:
        print(item, inv_country_dic[item])

ASM American Samoa
VGB British Virgin Islands
CYM Cayman Islands
TCD Chad
CHI Channel Islands
COD Congo, Dem. Rep.
CUW Curacao
GNQ Equatorial Guinea
GIB Gibraltar
GUM Guam
IMN Isle of Man
PRK Korea, Dem. Peoples Rep.
XKX Kosovo
LBR Liberia
LIE Liechtenstein
MHL Marshall Islands
FSM Micronesia, Fed. Sts.
MCO Monaco
MNE Montenegro
NRU Nauru
MNP Northern Mariana Islands
PRI Puerto Rico
ROU Romania
SMR San Marino
SRB Serbia
SXM Sint Maarten (Dutch part)
SOM Somalia
SSD South Sudan
MAF St. Martin (French part)
TLS Timor-Leste
UZB Uzbekistan
VIR Virgin Islands (U.S.)
---------------------------
AIA Anguila
ANT Netherlands Antilles
BLX Belgium-Luxembourg
COK Cook Islands
EUN European Union
GLP Guadeloupe
GUF French Guiana
MNT Montenegro
MSR Montserrat
MTQ Martinique
MYT Mayotte
OAS Other Asia, nes
REU Reunion
ROM Romania
SER Serbia, FR(Serbia/Montenegro)
SUD Sudan
TMP East Timor

In [25]:
conversion_dic={'SER':'SRB',
               'SUD':'SSD'}

In [26]:
# Calculate the distribution fractions for 
percentages=pd.DataFrame()
percentage_to_country=imported_data.loc[2014]/imported_data.loc[2014].sum(axis=0)
percentages=percentages.append(percentage_to_country)
percentages=percentages.fillna(0)

In [27]:
filled_dataframe=MergeDataFrames(region_income_data, percentages, country_dic_wb, country_dic, conversion_dic)

In [28]:
#Merges the dataframes of WB and trade into one dataframe for further analysis
# To Do: replace by function in ProjectFunctions.py:
# filled_dataframe=MergeDataFrames(region_income_data, percentages, country_dic_wb, country_dic, conversion_dic):         
    

filled_dataframe=percentages.copy(deep=False)
for column in region_income_data:
    column_name=column
    filled_dataframe[column_name]=None
    for index in percentages.index:
        for index2 in region_income_data.index:    
            if index==index2 or country_dic[index]==country_dic_wb[index2]:
                filled_dataframe[column_name][index]=region_income_data[column][index2]
            else:
                try:
                     if conversion_dic[index]==country_dic_wb[index2]:
                            filled_dataframe[column_name][index]=region_income_data[column][index2]
                except KeyError: 
                    continue

In [29]:
filled_dataframe.columns

Index(['Aruba', 'Afghanistan', 'Angola', 'Anguila', 'Albania', 'Andorra',
       'Netherlands Antilles', 'United Arab Emirates', 'Argentina', 'Armenia',
       ...
       'Zimbabwe', 'Country Data', 'Region', 'IncomeGroup',
       'Exports of goods and services (% of GDP)', 'GDP (current US$)',
       'Total greenhouse gas emissions (kt of CO2 equivalent)',
       'Exports of goods and services (% of GDP) source',
       'GDP (current US$) source',
       'Total greenhouse gas emissions (kt of CO2 equivalent) source'],
      dtype='object', length=211)

In [30]:
# Our analysis only works on countries with complete data
# so we drop any NaNs
filled_dataframe=filled_dataframe.dropna(how='any')

In [31]:
len(filled_dataframe)

188

In [32]:
# to only get the export columns, we get rid of these:
dont_include=["Country Data",
              "Region",
              "IncomeGroup",
              "GDP (current US$)",
              "Total greenhouse gas emissions (kt of CO2 equivalent)",
              "GDP (current US$) source",
              "Total greenhouse gas emissions (kt of CO2 equivalent) source",
             'Exports of goods and services (% of GDP) source',
             'Exports of goods and services (% of GDP)']

In [33]:
export_cols=filled_dataframe.columns[~filled_dataframe.columns.isin(dont_include)]

In [34]:
# calculation of the total exports of each country
filled_dataframe['SumOfExports'] = filled_dataframe[export_cols].sum(axis=1)

In [35]:
# calculation of redistribution percentages from/to each country
for column in export_cols:
    colname='Percentage to ' + column
    filled_dataframe[colname]=filled_dataframe[column]/filled_dataframe['SumOfExports']

In [36]:
# Calculation of emissions that get reassigned
filled_dataframe['EmissionForExport']=filled_dataframe['Total greenhouse gas emissions (kt of CO2 equivalent)']*(filled_dataframe["Exports of goods and services (% of GDP)"]/100)

In [37]:
# Distribution of "exported" emissions to importing countries
for column in export_cols:
    colname='Emissions to ' + column
    filled_dataframe[colname]=filled_dataframe['Percentage to ' + column]*filled_dataframe['EmissionForExport']

In [38]:
filled_dataframe["Exports of goods and services (% of GDP)"]/100

exporter
Aruba                              0.707721
Afghanistan                       0.0700212
Angola                             0.339271
Albania                            0.272592
Andorra                            0.639229
United Arab Emirates                1.00406
Argentina                          0.110085
Armenia                            0.297962
Antigua and Barbuda                0.444212
Australia                          0.196843
Austria                            0.530602
Azerbaijan                         0.377948
Burundi                           0.0605319
Belgium                            0.829488
Benin                              0.282215
Burkina Faso                       0.245625
Bangladesh                         0.173367
Bulgaria                           0.641072
Bahrain                            0.845828
Bahamas, The                       0.386153
Bosnia and Herzegovina             0.345801
Belarus                            0.580108
Belize                             0.585387
Bermuda                            0.476683
Bolivia                            0.308683
Brazil                             0.128892
Barbados                           0.369926
Brunei                             0.522106
Bhutan                             0.328844
Botswana                           0.522349
                                    ...
Slovak Republic                    0.934882
Slovenia                           0.779358
Sweden                             0.455901
Swaziland                          0.482635
Seychelles                         0.830942
Syrian Arab Republic               0.257358
Turks and Caicos Isl.                0.4529
Togo                               0.422173
Thailand                           0.690868
Tajikistan                         0.105038
Turkmenistan                       0.732581
Tonga                              0.175267
Trinidad and Tobago                0.503149
Tunisia                            0.406582
Turkey                             0.233311
Tuvalu                             0.464384
Tanzania                           0.216213
Uganda                             0.175024
Ukraine                            0.525977
Uruguay                            0.224779
United States                       0.12554
St. Vincent and the Grenadines     0.255117
Venezuela                           0.24765
Vietnam                            0.897792
Vanuatu                            0.485558
Samoa                              0.274659
Yemen                              0.102411
South Africa                       0.303706
Zambia                             0.371397
Zimbabwe                           0.224871
Name: Exports of goods and services (% of GDP), Length: 188, dtype: object

In [39]:
filled_dataframe["Total greenhouse gas emissions (kt of CO2 equivalent)"]

exporter
Aruba                                 28318.4
Afghanistan                           17981.3
Angola                                41657.2
Albania                               8898.64
Andorra                                164486
United Arab Emirates                   204889
Argentina                              380295
Armenia                               12319.4
Antigua and Barbuda                   552.748
Australia                              761686
Austria                               90460.2
Azerbaijan                            56537.1
Burundi                               6254.37
Belgium                                133374
Benin                                 33533.1
Burkina Faso                          43910.4
Bangladesh                             183301
Bulgaria                              67942.7
Bahrain                               32849.1
Bahamas, The                          4865.21
Bosnia and Herzegovina                27108.4
Belarus                                109647
Belize                                1569.86
Bermuda                               632.877
Bolivia                                621727
Brazil                            2.98942e+06
Barbados                              1540.62
Brunei                                  14829
Bhutan                                3296.96
Botswana                              82110.3
                                     ...
Slovak Republic                       46301.3
Slovenia                              21074.7
Sweden                                65767.8
Swaziland                             3478.03
Seychelles                            910.287
Syrian Arab Republic                  77118.7
Turks and Caicos Isl.                 28318.4
Togo                                  22931.9
Thailand                               440412
Tajikistan                            15364.6
Turkmenistan                          92178.1
Tonga                                 155.291
Trinidad and Tobago                   61308.5
Tunisia                                 39721
Turkey                                 445640
Tuvalu                                5.23992
Tanzania                               235353
Uganda                                80725.1
Ukraine                                404900
Uruguay                               34237.8
United States                     6.34384e+06
St. Vincent and the Grenadines        319.218
Venezuela                              281921
Vietnam                                310664
Vanuatu                               446.221
Samoa                                 356.087
Yemen                                 40924.6
South Africa                          40276.1
Zambia                                 320254
Zimbabwe                              72057.8
Name: Total greenhouse gas emissions (kt of CO2 equivalent), Length: 188, dtype: object

In [40]:
filled_dataframe['EmissionForExport']

exporter
Aruba                             20041.5
Afghanistan                       1259.07
Angola                            14133.1
Albania                            2425.7
Andorra                            105144
United Arab Emirates               205720
Argentina                         41864.7
Armenia                           3670.71
Antigua and Barbuda               245.537
Australia                          149932
Austria                           47998.4
Azerbaijan                        21368.1
Burundi                           378.589
Belgium                            110632
Benin                             9463.56
Burkina Faso                      10785.5
Bangladesh                        31778.2
Bulgaria                          43556.2
Bahrain                           27784.7
Bahamas, The                      1878.71
Bosnia and Herzegovina            9374.11
Belarus                           63607.2
Belize                            918.974
Bermuda                           301.681
Bolivia                            191916
Brazil                             385313
Barbados                          569.914
Brunei                            7742.29
Bhutan                            1084.19
Botswana                          42890.3
                                   ...
Slovak Republic                   43286.2
Slovenia                          16424.8
Sweden                            29983.6
Swaziland                         1678.62
Seychelles                        756.396
Syrian Arab Republic              19847.1
Turks and Caicos Isl.             12825.4
Togo                              9681.21
Thailand                           304266
Tajikistan                        1613.87
Turkmenistan                      67527.9
Tonga                             27.2174
Trinidad and Tobago               30847.3
Tunisia                           16149.8
Turkey                             103973
Tuvalu                            2.43333
Tanzania                          50886.3
Uganda                            14128.8
Ukraine                            212968
Uruguay                           7695.93
United States                      796403
St. Vincent and the Grenadines    81.4378
Venezuela                         69817.8
Vietnam                            278912
Vanuatu                           216.666
Samoa                             97.8024
Yemen                             4191.12
South Africa                      12232.1
Zambia                             118941
Zimbabwe                          16203.7
Name: EmissionForExport, Length: 188, dtype: object

In [41]:
# Create list of emission columns
emissions_cols=[col for col in filled_dataframe.columns if 'Emissions to' in col]

In [42]:
# Create emissions dataframe for visualizations
emissions_dataframe=pd.DataFrame(filled_dataframe[emissions_cols])
columns_to_remove=[]
for column in emissions_dataframe:
    country_name = column.replace('Emissions to ', '')
    if country_name not in emissions_dataframe.index:
        print('Removing', country_name)
        columns_to_remove.append('Emissions to '+country_name)
emissions_dataframe.drop(columns_to_remove, axis=1, inplace=True)

Removing Anguila
Removing Netherlands Antilles
Removing Belgium-Luxembourg
Removing Cook Islands
Removing European Union
Removing Guadeloupe
Removing French Guiana
Removing Montserrat
Removing Martinique
Removing Mayotte
Removing Other Asia, nes
Removing Reunion
Removing Serbia, FR(Serbia/Montenegro)
Removing East Timor

In [43]:
# Sum of emissions TO each country: this will get added to their emissions
emissions_to_countries=pd.DataFrame(filled_dataframe[emissions_cols].sum(axis=0))

In [44]:
emissions_to_countries=emissions_to_countries.reset_index()

In [45]:
emissions_to_countries.replace('Emissions to ','',regex=True,inplace=True)

In [46]:
emissions_to_countries.set_index('index', inplace=True)

In [47]:
emissions_to_countries.index.rename('exporter', inplace=True)

In [48]:
filled_dataframe['EmissionsToCountries']=emissions_to_countries[0]

In [49]:
# calculate new emissions for each country
filled_dataframe["NewEmissions"]=filled_dataframe['EmissionsToCountries']+(1-filled_dataframe["Exports of goods and services (% of GDP)"]/100)*filled_dataframe["Total greenhouse gas emissions (kt of CO2 equivalent)"]

In [50]:
filled_dataframe["NewEmissions"].idxmax()

'China'

In [51]:
# calculate difference in emissions for each country
filled_dataframe["EmissionDifference"]=(filled_dataframe["NewEmissions"]-filled_dataframe["Total greenhouse gas emissions (kt of CO2 equivalent)"])

In [53]:
#Getting the coordinates! Sometimes gives an error due to server issues, but rerunning will fix it. 
# Some countries had to be named differently to find the correct location
filled_dataframe['Latitude']=None
filled_dataframe['Longitude']=None
for country in filled_dataframe.index:
    if country == 'China':
        country_wb="People's Republic of China"
    elif country =='Congo, Rep.':
        country_wb='Congo'
    elif country == 'Egypt, Arab Rep.':
        country_wb='Egypt'
    elif country == 'Iran, Islamic Rep.':
        country_wb='Iran'
    elif country=='Macao SAR, China':
        country_wb='Macau, China'
    elif country == 'Macedonia, FYR':
        country_wb='Macedonia'
    elif country == 'Yemen, Rep.':
        country_wb='Yemen'         
    elif country in country_dic:
        country_code=country_dic[country]
        if country_code in inv_country_dic_wb:
            country_wb=inv_country_dic_wb[country_code]
        else:
            country_wb=country
    else:
        country_wb=country
    coords=GetCountryCoordinates(country_wb)
    filled_dataframe['Latitude'][country]=coords[0]
    filled_dataframe['Longitude'][country]=coords[1]

No location found for Macao SAR, China
No location found for Yemen, Rep.

In [54]:
filled_dataframe['Latitude']

exporter
Aruba                             12.5014
Afghanistan                        33.768
Angola                           -11.8776
Albania                           11.2449
Andorra                           42.5407
United Arab Emirates              24.0002
Argentina                        -34.9965
Armenia                           4.49227
Antigua and Barbuda               17.0791
Australia                        -24.7761
Austria                              47.2
Azerbaijan                        40.3936
Burundi                          -3.36344
Belgium                           50.6407
Benin                             6.33306
Burkina Faso                      12.0753
Bangladesh                        24.4769
Bulgaria                          42.6074
Bahrain                           35.2078
Bahamas, The                      24.7737
Bosnia and Herzegovina            44.3053
Belarus                           53.4251
Belize                             16.826
Bermuda                           32.3018
Bolivia                          -17.0569
Brazil                           -10.3333
Barbados                            13.15
Brunei                            4.41372
Bhutan                            27.5495
Botswana                         -23.1682
                                   ...
Slovak Republic                   48.7412
Slovenia                          45.8133
Sweden                             59.675
Swaziland                        -26.5625
Seychelles                        25.2245
Syrian Arab Republic              34.6402
Turks and Caicos Isl.             21.7215
Togo                              8.78003
Thailand                          14.8972
Tajikistan                        38.6282
Turkmenistan                      39.3764
Tonga                            -19.9161
Trinidad and Tobago               10.8678
Tunisia                           33.8439
Turkey                            38.9598
Tuvalu                           -7.76896
Tanzania                         -6.52471
Uganda                            1.53336
Ukraine                           49.4872
Uruguay                          -32.8756
United States                     39.7837
St. Vincent and the Grenadines    12.9045
Venezuela                          9.7887
Vietnam                           13.2904
Vanuatu                          -16.5255
Samoa                             40.8187
Yemen                                   0
South Africa                     -28.8166
Zambia                           -14.5186
Zimbabwe                         -18.4555
Name: Latitude, Length: 188, dtype: object

## Visualization for one country

In [55]:
VisualizeFlowsToCountry('China', emissions_dataframe, filled_dataframe)

'file:///Users/stefanwigman/Documents/GitHub/TrueEmissions/EmissionFlowsChina.html'

In [56]:
VisualizeFlowsFromCountry('United States', emissions_dataframe, filled_dataframe)

'file:///Users/stefanwigman/Documents/GitHub/TrueEmissions/EmissionFlowsUnited States.html'

In [ ]:
Optional

In [ ]:
emissions_dataframe.loc['China'].idxmax()